:root {
  --dark-grey: #404040;
  --light-grey: #d4d4d4;
  --off-white: #00d7a0;
  --medium-grey: #767676;
  --green: #00d7a0;
  --white: #fff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

select {
	display: flex;
  align-items: center;
  width: auto;
  height: auto;
  background-color: var(--white);
  background: url(https://static.triplemint.com/jupiter/a9f7f1f974cf4e7690ddf77c6308317a3ccd70c1/static/images/expand.svg) no-repeat right 10px center;
  background-size: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid var(--light-grey);
  resize: none;
  outline: 0;
  outline-color: initial;
  outline-style: initial;
  outline-width: 0;
  font-size: 120%;
  color: var(--dark-grey);
  font-size: 14px;
  padding: 3px 32px 3px 5px;
  padding-top: 6px;
  padding-bottom: 6px;
}

option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

a {
  text-decoration: none;
  color: var(--dark-grey);
}

ul, li {
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}
